.container {
    width: 1280px;
    margin: 0 auto;
}

.header-title {
    font-family: 'Roboto', sans-serif;
    color: #4BCAFF;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    margin-top: 63px;
    margin-bottom: 40px;
}

.header-title > span {
    color: #000000;
}

.navbar {
    margin-bottom: 59px;
}

.navbar-list {
    display: flex;
    justify-content: center;
    background-color: #35444F;
}

.navbar-list-item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 68px;

    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;

    padding-left: 33px;
    padding-right: 33px;
}

.navbar-list-link {
    color: #FFFFFF;
}

li.navbar-list-item:hover {
    background-color: #222F3A;
}

.main-menu {
    position: absolute;
    width: 300px;
    border: 1px solid #000000;
}

.main-blocks-menu {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 77px;
    padding-left: 44px;
    border: 1px solid #FFFFFF;
}

.main-menu-link {
    color: #485863;
}

li.main-blocks-menu:hover {
    background: #DBDBDB;
    padding-left: 54px;
}

li.main-blocks-menu:hover a {
    color: #000000;
}

.main-picture {
    margin-left: 395px;
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
}

.img {
    padding-left: 275px;
    padding-top: 65px;
}

.main-text {
    margin-left: auto;
    width: 885px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer {
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 45px;
    margin-bottom: 50px;
}

.footer-menu {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 70px;
    height: 69px;
}

a.footer-menu-link {
    color: #0C1927;
}

a.footer-menu-link:hover {
    color: #3181A6;
    text-decoration: underline;
    text-underline-position: under;
}

.footer-menu-blocks {
    padding-left: 30px;
}

.sing {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 65px;
    color: #010101;
    margin-left: 130px;
}

